@import "../../../../styles/variable.scss";

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  &__devider {
    margin: 15px 0px;
    display: flex;
  }
  &__google {
    button {
      width: 100%;
      i {
        font-size: 18px;
      }
    }
  }
}
