@import "../../../styles/variable.scss";

.button {
  padding: 10px;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
}

.primary {
  background-color: $first-color;
  color: $fourth-color;
  &:hover {
    background-color: $second-color;
  }
}
