@import "../../../styles/variable.scss" .navbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  background-color: $first-color;
  width: 100%;
  &__button {
    background-color: $fourth-color;
    padding: 10px;
    border-radius: 5px;
    border: none;
    color: white;
    cursor: pointer;
    &:hover {
      background-color: rgb(151, 117, 24);
    }
  }
}
