.modal {
  &__title {
    text-align: center;
    padding-bottom: 20px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    &__button {
      font-weight: 700;
    }
  }
}
