@import "../../../styles/variable.scss";

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: $first-color;
  width: 100%;
  color: $light-color;
  &__left {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  &__right {
    display: flex;
    gap: 20px;
    align-items: center;
    &__profile {
      display: flex;
      gap: 5px;
      align-items: center;
      cursor: pointer;
      &__image {
        // width: 40px;
        // height: 40px;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
      &__name {
        font-weight: 500;
      }
    }
    &__button {
      background-color: $fourth-color;
      border: none;
      cursor: pointer;
      scale: 0.9;
    }
  }
  &__toggle {
    background-color: rgba(0, 0, 0, 0.8);
    color: $light-color;
    padding: 15px;
    position: absolute;
    top: 50px;
    right: 10px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 5px;
    a {
      font-weight: 500;
      padding: 5px 0px;
      &:hover {
        color: $third-color;
      }
    }
  }
}
