@import "../../../styles/variable.scss";

.navbar {
  display: flex;
  justify-content: flex-end;
  padding: 10px 20px;
  background-color: $first-color;
  width: 100%;
  &__button {
    background-color: $fourth-color;
    padding: 10px;
    border: none;
    color: $third-color;
    cursor: pointer;
    &:hover {
      background-color: $fourth-color;
    }
  }
}
